@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;
@use "../abstracts/mediaQueries" as *;
footer {
  @include section-padding;
  display: grid;
  gap: 1rem;
  @include md {
    grid-template-columns: repeat(2, 1fr);
  }
  @include lg {
    grid-template-columns: repeat(4, 1fr);
  }
  background-color: $clr-primary-400;
  color: $clr-neutral-100;
  .quick-links,
  .information,
  .project-reports {
    display: grid;
  }
  a {
    color: $clr-neutral-100;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
