@use "../abstracts/variables" as *;
@use "../abstracts/mediaQueries" as *;
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $clr-neutral-100;
  display: flex;
  align-items: center;
  z-index: 9999999;
  justify-content: space-between;
  box-shadow: $box-shadow-400;
  padding: 1rem 2rem;
  @include md {
    padding: 2rem 3rem;
  }
  .nav-list {
    display: none;
    list-style: none;
    gap: 0.5rem;
    padding: 0;
    @media (min-width: 800px) {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    li {
      a {
        text-decoration: none;
        color: $clr-neutral-900;
        &:hover {
          color: $clr-primary-400;
        }
      }
    }
  }

  .nav-list.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    padding: 2rem;
    padding-block: 2rem;
    gap: 1rem;
    left: 0;
    right: 0;
    top: 4rem;
    background-color: $clr-neutral-100;
    box-shadow: $box-shadow-400;
    width: 100%;
    li {
      width: 100%;

      a {
        display: block;
        width: 100%;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  #humburger-icon {
    display: flex;
    @media (min-width: 800px) {
      display: none;
    }
  }
}
