.styled-drop-container {
  .preview {
    .preview-item {
      position: relative;
      svg {
        position: absolute;
        top: 50%;
        right: 50%;
        bottom: 50%;
        left: 50%;
        display: flex;
        width: 30;
        height: 30;
        display: none;
        align-items: center;
        justify-content: center;
        transform: translate(-50%, -50%);
      }
      &:hover .remove-svg-icon {
        display: flex;
      }
    }
  }
}
