$clr-primary-400: #3acf50;
$clr-primary-500: hsl(129, 61%, 40%);

$clr-neutral-100: hsl(0 0 100);

$clr-neutral-150: hsl(0 0 99);

$clr-neutral-900: hsl(221 39 11);
$clr-neutral-800: hsl(213 15 34);
$clr-neutral-700: hsl(220 9 46);
$clr-neutral-600: hsl(217 19 97);
$clr-neutral-500: hsl(220 14 96);

$fs-300: 0.75rem; // 12px
$fs-400: 0.875rem; // 14px
$fs-500: 1rem; // 16px
$fs-600: 1.125rem; // 18px
$fs-700: 1.25rem; // 20px
$fs-800: 1.5rem; // 24px

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 800;

$app-padding-400: 1rem;
$app-padding-500: 3rem;
$app-padding-600: 6rem;

$box-shadow-400: 0 5px 10px rgba(0, 0, 0, 0.12);
$box-shadow-500: 0 5px 10px rgba(0, 0, 0, 0.15);
