@use "../abstracts/variables" as *;
@use "../abstracts/mediaQueries" as *;
.ngo-management-container {
  padding-top: 7rem;
  padding-inline: $app-padding-400;
  @include md {
    padding-inline: $app-padding-500;
    padding-top: 9rem;
  }
  @include lg {
    padding-inline: $app-padding-600;
  }
  .new-case-container {
    display: flex;
    gap: 2rem;

    .care-card {
      max-width: 20rem;
      display: grid;
      gap: 1rem;
      padding: 1rem;
      position: relative;
      border-radius: 1rem;
      background-color: $clr-neutral-600;

      .badge-container {
        position: absolute;
        right: 0;
        border: 2px solid white;
      }
      img {
        border-radius: 1rem;
      }
    }
  }
}
