@use "../abstracts/variables" as *;
@use "../abstracts/mediaQueries" as *;
@use "../abstracts/mixin" as *;
.report-incident {
  padding-top: 7rem;
  @include md {
    padding-top: 9rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  textarea {
    border: 1px solid $clr-neutral-800;
    border-radius: 0.5rem;
    padding: 0.5rem;
    &:hover,
    :active,
    :active {
      border: 1px solid $clr-primary-400;
    }
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  .animal-info-container {
    @include section-padding;
    padding-block: 2rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    box-shadow: $box-shadow-400;
  }
  .location-container {
    @include section-padding;
    border-radius: 1rem;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: $box-shadow-400;
  }
  .reporter-container {
    @include section-padding;
    border-radius: 1rem;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: $box-shadow-400;
    gap: 0.5rem;
  }
}
